<!DOCTYPE html>
<html lagn="ko"
      layout:decorate="~{layout/default-layout(title=${post.title}, subTitle=${post.subTitle})}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <main class="mb-4" th:object="${post}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <article th:utext="*{content}"></article>
                </div>
            </div>
        </div>
    </main>
</th:block>
</html>