<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="post-preview(post)">
    <div class="post-preview" th:object="${post}">
        <a href="post.html">
            <h2 class="post-title" th:text="*{title}">Title</h2>
            <h3 class="post-subtitle" th:text="*{subTitle}">Sub Title</h3>
        </a>
        <p class="post-meta">
            Posted by
            <b th:text="*{author}">Author</b>
            <th:block th:text="*{#temporals.format(createdAt, 'yyyy년 MM월 dd일')}"></th:block>
        </p>
    </div>
</th:block>
</html>