<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header(title, subTitle)">
    <header class="masthead" th:style="|background-image: url(@{/assets/images/banner.jpeg})|">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 th:text="${title}?: _">Pebble Wiki</h1>
                        <span class="subheading" th:text="${subTitle}?: _">의식의 흐름에서 나온 궁금증들</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>